<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" >
    <listeners>
        <listener class-name="com.sda.mentoring.utils.MyTestListener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="Contact list Listener and Reports">
        <classes>
            <class name="com.sda.mentoring.tasks.day06.T01ContactListExtentReportTest02">
            </class>
        </classes>
    </test>
</suite>